.footerBttn {
  background-color: rgb(175, 175, 175);
  padding-right: 375px;
}

.finishBttn {
  display: flex;
  padding: 15px;
  justify-content: flex-end;
  height: 60px;
}

.bttnDiv {
  background-color: green;
  border-radius: 15px;
  width: 10%;
  color: white;
  font-size: 25px;
}
